body, html {
    background: #202026;
    margin: 0;
    padding: 0;
    font-family: 'Outfit', sans-serif;
    font-weight: lighter;
    overflow-x: hidden;
}
p {
    margin: 0;
}
section:first-child {
    width:calc(100% - 600px);
    height:100%;
    float: left;
    background:black;
}

section nav {
    width:100%;
    height:200px;
}
#brain {
    height:calc(100% - 400px);
    object-fit: cover;
    object-position: center;
    animation-name:zoom;
    animation-duration:0.3s;

}
section:first-child footer {
    width:100%;
    height:200px;
    box-sizing: border-box;
    padding-top:40px;
    padding-left:40px;
    padding-right:40px;
}
.appnameright {

}

section:nth-child(2) {
    width:600px;
    height:100%;
    background:#1A1C1E;
    float: right;
    animation-name:zoom;
    animation-duration:0.3s;

}
#left-nav {
    height:100%;
    width:50%;
    float:left;
    box-sizing: border-box;
    padding-top:40px;
    padding-left:40px;
}
#right-nav {
    height:100%;
    width:50%;
    float:left;
    box-sizing: border-box;
    padding-top:40px;
    padding-right:40px;
    text-align:right;
}
.greytext {
    color:grey;
}
.whitetext {
    color: white !important;
    text-decoration: none;
}
.margin8 {
    margin-top:8px;
}
.margin20 {
    margin-top:20px;
}
.margin32 {
    margin-top:32px;
}
#barwhole {
    width:100%;
    height:3px;
    background:#31292F;
    border-radius:1.5px;
}
#barinner {
    width:83%;
    height:100%;
    background:#05DED4;
    border-radius:1.5px;
}

#second-nav {
    height:100%;
    width:100%;
    float:left;
    box-sizing: border-box;
    padding-top:40px;
    padding-left:40px;
    padding-right:40px;
}
#title {
    font-size:20px;
}

.margin80 {
    margin-top:80px;
}
h1 {
    margin:0;
    color:white;
    font-weight:bold;
    font-size:40px;
}
.buttons {
    width:100%;
    height: 256px;
}
.button {
    float:left;
    height:100%;
    width:calc(50% - 8px);
    background: #444;
    border-radius:15px;
    text-align: center;
    box-sizing: border-box;
}
.button:nth-child(2) {
    margin-left:16px;
    
}
.button p {
    color:white;
    font-size:40px;
}
.vertical {
    position: relative;
    top:50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
#buttonOne {
}
.footerbutton {
    position:absolute;
    bottom:40px;
    width:520px;
    height:60px;
    background:#444;
    border-radius:4px;
    box-sizing:border-box;
    padding-left:40px;
    padding-right:40px;
    color:white;
    text-align: center;
}
.marginsetting {
    margin-top:40px;
}
.icon-computer {
    width:18px;
    position:relative;
    top:2px;
    margin-right:10px;
    margin-bottom:-2px;

}
.footerbutton p {
   display:inline;
   font-size:14px;
}
#loadingscreen {
    position:fixed;
    width:100%;
    height:100%;
    top:0;
    left:0;
    background:black;
    text-align: center;
    display:none;
}
#initscreen {
    position:fixed;
    width:100%;
    height:100%;
    top:0;
    left:0;
    background:#202026;
    z-index: 997;
}
#content {
    display: none;
}

.initnav {
    width:100%;
    padding:20px;
    box-sizing:border-box;
    background:#1A1C1E;
    animation-name:navpopin;
    animation-duration:0.3s;
    

}
#noanimation {
    animation-duration:0s;
}

a:visited {
    color:inherit;
}

.inittitle {
    font-size:20px;
    color: white !important;
    font-weight: 300;
    text-decoration: none !important;
}
.inittitle:visited {
    color:white;
}
.content {
    width:1024px;
    margin-left:auto;
    margin-right:auto;
}
h2 {
    color: white;
    margin:0;
    font-size:24px;
    font-weight:normal;
}
p {
    color:white;
    font-size: 20px;
    line-height: 1.5em;
}
p b {
    font-weight:normal;
}
.margin10 {
    margin-top:10px;
}
.margin64 {
    margin-top:64px;
}

@keyframes initinnerbarkreis {
    0% {width: 0%}
    75% {width: 100%}
    100% {width: 100%}
  }

  @keyframes initwholebarprogress {
    0% {width: 0%}
    1% {width: 0%}
    100% {width: 100%}
  }
  

  @keyframes kreis {
    0% {margin-left: 0%}
    75% {margin-left: 0%}
    90% {margin-left: calc(100% - 100px)}
    100% {margin-left: calc(100% - 100px)}
  }


.kreisEins {
    background: #1A1C1E;
    border:1px solid #fff;
    width:100px;
    height:100px;
    border-radius: 100%;
    box-sizing: border-box;
    animation-name: kreis;
    animation-duration: 10s;
    animation-iteration-count:infinite;
    animation-delay: 21.5s;
    
}

.kreisEinsInner {
    width:90px;
    height:90px;
    border-radius:100%;
    background:#05DED4;
    margin-left:auto;
    margin-right:auto;
    border:4px solid #FFE779;
    box-sizing: border-box;
}

.kreisEinsInnerInner {
    width:50px;
    height:50px;
    border-radius:100%;
    border: 20px solid #0A9C95;
    background:#fff;
    margin-left:auto;
    margin-right:auto;
    box-sizing: border-box;
}

.dottedline {
    width:calc(100% - 104px);
    height:0px;
    border-bottom:2px dashed #fff;
    position:relative;
    top:-52px;
    left:52px;
}

.kreisZwei {
    width:100px;
    height:100px;
    border-radius:100%;
    background: #3D3C43;
    float:right;
    position:relative;
    top:-100px;
    z-index: -1;
}

.kreise {
    width:860px;
    margin-left:auto;
    margin-right:auto;
}

.outerprogressinit {
    width:100%;
    height:4px;
    border-radius:2px;
    background:#3D3C43;
}

.innerprogressinit {
    width:0%;
    height:100%;
    border-radius:2px;
    background: #05DED4;
    animation-name: initinnerbarkreis;
    animation-duration: 10s;
    animation-iteration-count:infinite;
    animation-delay: 21.5s;
}

.initwholeprogress {
    position: fixed;
    z-index: 999;
    bottom:0px;
    height:5px;
    background: #1A1C1E;
    width:100%;
}
.initinnerwholeprogress {

    width:0%;
    height:5px;
    background: #05DED4;
    animation-name: initwholebarprogress;
    animation-duration: 92s;
    animation-delay:5s;
}

#stars {
    display: none;
}

.initinnerwholeprogressadv {

    width:0%;
    height:5px;
    background: #05DED4;
    animation-name: initwholebarprogress;
    animation-duration: 136s;
    animation-delay:0s;
}

#initphases {
    float:right;
}

#initElements {
    display: none;
    animation-name:zoom;
    animation-duration:0.3s;
}

.countdownbox {
    width:150px;
    height:150px;
    background: #1A1C1E;
    border-radius: 20px;
    margin-left:auto;
    margin-right: auto;
    text-align:center;
}


#initcountdowntext {
    margin-left:auto;
    margin-right: auto;
}

#initCountdown {
    display: none;
}

#initHandMovementScreen {
    display:none;
}
#initRelaxScreen {
    display:none;
}

#secondSentence {
    display: block;
}
#firstSentence {
    width:1000px;
}

#progressarrow {
    position:fixed;
    bottom:20px;
    left:20px;
    width:60px;
    display:none;
    animation-name:zoom;
    animation-duration:0.2s;
} 

#arrowtext {
    position:fixed;
    left:86px;
    bottom:67px;
}

#initwholeprogress {
    display:block;
}
#initnav {
    display:none;
}


















#logoscreen {
    width:100%;
    height:100%;
    display:block;
    z-index:99999999999999999;
}
.logobox {
    margin-left:auto;
    margin-right:auto;
    width:307px;
}





.jt {
    position: relative;
    font-size: 60px;
    font-display: swap;
    //text-shadow: 0 0 10px tomato;
    font-weight: lighter;
  }
  
  .jt__row {
    display: block;
  }
  .jt__row:nth-child(1) {
    clip-path: polygon(-10% 75%, 110% 75%, 110% 110%, -10% 110%);
  }
  .jt__row:nth-child(2) {
    clip-path: polygon(-10% 50%, 110% 50%, 110% 75.3%, -10% 75.3%);
  }
  .jt__row:nth-child(3) {
    clip-path: polygon(-10% 25%, 110% 25%, 110% 50.3%, -10% 50.3%);
  }
  .jt__row:nth-child(4) {
    clip-path: polygon(-10% 0%, 110% 0%, 110% 25.3%, -10% 25.3%);
  }
  
  .jt__row.jt__row--sibling {
    position: absolute;
    top: 0;
    left: 0;
    user-select: none;
    width:1024px;
  }
  
  .jt__text {
    display: block;
    transform-origin: bottom center;
    animation: moveIn 2.5s 0s cubic-bezier(.36,0,.06,1) alternate infinite ;
  }
  .jt__row:nth-child(1) .jt__text {
    transform: translateY(-0.1em);
  }
  .jt__row:nth-child(2) .jt__text {
    transform: translateY(-0.3em) scaleY(1.1);
  }
  .jt__row:nth-child(3) .jt__text {
    transform: translateY(-0.5em) scaleY(1.2) ;
  }
  .jt__row:nth-child(4) .jt__text {
    transform: translateY(-0.7em) scaleY(1.3) ;
  }
  .jt__row:nth-child(5) .jt__text {
    transform: translateY(-0.9em) scaleY(1.4) ;
  }
  .jt__row:nth-child(6) .jt__text {
    transform: translateY(-1.1em) scaleY(1.5) ;
  }
  
  @keyframes moveIn {
    50%, 100% { 
      transform: translateY(0em)
    }
    0%   { 
    opacity: 0; 
    filter: blur(15px);
    
    }
    100% { 
    opacity: 1; 
    filter: blur(0px);
    }
  }
  
  
  
  .debug .jt__row:nth-child(even) {
    color: black;
    background: white;
  }
  .debug .jt__row:nth-child(odd) {
    color: white;
    background: black;
  }







  @keyframes zoom {
    0% {
    transform: scale(0, 0);
    }
    100% {
    transform: scale(1, 1);
    }
    }

    @keyframes navpopin {
        0% {
        margin-top:-100px;
        }
        100% {
            margin-top:0px;
        }
        }

    @keyframes zoomout {
        0% {
        transform: scale(1, 1);
        }
        100% {
        transform: scale(0, 0);
        }
        }


  #arrowtwo {
      width:100px;
      position:relative;
      margin-left:912px;
      margin-top:-75px;
      margin-bottom:-150px;
      animation-name:zoom;
      animation-duration:0.2s;
      display:none;

  }




  #arrowtwotext {
    position:relative;
    margin-top:123px;
    margin-left:660px;
    width:250px;
    margin-bottom:-150px;
}

  #inithandtext {
      width:760px;
  }


  #arrowthree {
      width:60px;
      margin-top:10px;
      display:none;
      animation-name:zoom;
      animation-duration:0.3s;
  }

  #arrowthreetext {
    margin-left:60px;
    margin-top:-26px;
  }

  @keyframes initReadyScreen {
    0% {background: rgba(0,0,0,0);}
    100% {background: rgba(0,0,0,0.8);}
  }

  #initReadyScreen {
      width:100%;
      height:100%;
      position: fixed;
      top:0;
      left:0;
      background: rgba(0,0,0,0.85);
      text-align:center;
      animation-name: initReadyScreen;
      animation-duration: 1s;
      animation-delay: 0s;
      display: none;
      z-index:999999;
  }


  #initEndScreen {
    width:100%;
    height:100%;
    position: fixed;
    top:0;
    left:0;
    background:#202026;
    animation-name:zoom;
    animation-duration:0.3s;
    text-align:center;
    z-index:99999999999;
    display: none;
  }

  .star {
    animation-name:zoom;
    animation-duration:0.6s;
    width:60px;
    margin-left:10px;
    margin-right:10px;
  }
  .star:nth-child(2) {
    animation-duration:0.9s;
    position:relative;
    top:-10px;
  }
  .star:nth-child(3) {
    animation-duration:1.2s;
  }

  #endtext {
      width:600px;
      margin-left:auto;
      margin-right: auto;
  }

  .invisible {
      opacity:0;
  }

  .helmetbutton {
      float:right;
      color:white;
      background:#1E71F3;
      padding:8px;
      padding-left:15px;
      padding-right:15px;
      border-radius:10px;
        position:relative;
        top:-4px;
  }
  .navlink {
      color: #000;
      float:right;
      margin-right:32px;
      position:relative;
      top:4px;
      font-weight:300;
  }

  .homebody {
      background:#fff;
      height:100%;
  }
  .homebody h2 {
      color:black;
      font-weight: normal;
  }

  .homenav {
    width:100%;
    padding:16px;
    padding-left:20px;
    padding-right:20px;
    box-sizing:border-box;
    background:#fff;
    //box-shadow: 0px 2px 25px #eee;
    border-bottom: 1px solid #eee;
    

}
.hometitle {
    font-size:20px;
    color: black !important;
    font-weight: 300;
}
#loadingscreen h1 {
    font-weight:300 !important;
}

.homebody p {
    color: #727381;
    font-size:16px;
}

.trennstrich {
    width:100%;
    height:1px;
    background:#ddd;

}
.trennstrichmessenger {
    width:100%;
    height:1px;
    background:#444;
    margin-top:10px;

}


.appicon {
    width:calc(100% / 3 - 20px);
    height:356px;
    background:white;
    border-radius:15px;
    box-shadow: 0px 3px 56px #ddd;
    text-align: left;
    box-sizing:border-box;
    padding-top:32px;
    float:left;
    margin-left:30px;
    padding-left:16px;
    padding-right:16px;
}


.appiconlogo {
    width:130px;
    margin-top:22px;
    margin-bottom:34px;
}

.appiconsecondrow {
    width:calc(100% / 3 - 20px);
    height:350px;
    background:white;
    border-radius:15px;
    box-shadow: 0px 2px 5px #ccc;
    text-align: center;
    box-sizing:border-box;
    padding-top:48px;
    float:left;
    padding-left:16px;
    padding-right:16px;
    margin-top:45px;
    margin-left:30px;

}


.appiconnew {
    width:calc(100% / 3 - 20px);
    height:350px;
    background:white;
    border-radius:15px;
    box-shadow: 0px 2px 5px #ccc;
    text-align: center;
    box-sizing:border-box;
    float:left;
    margin-left:30px;
}
.appiconnew:hover {
    box-shadow: 0px 15px 25px #aaa; 
    transition:0.2s ease-in-out;
}
.appiconimg {
    width:100%;
    height:200px;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.appicondescr {
    width:100%;
    height:150px;
    //background: linear-gradient(to bottom right, #1f1f1f, #3f3f3f);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-sizing: border-box;
    padding-left:16px;
    padding-right:16px;
    text-align:left;
}



#secondappicondescr {
    //background: linear-gradient(to bottom left, #05DED4, #1E71F3);
}

.appicondescr h3 {
    //color:white;
    //font-weight:lighter;
}

.appicondescr p {
    //color:#fff;
}













.appicon:hover {
    box-shadow: 0px 3px 56px #ccc;
    box-shadow: 0px 20px 56px #999; 
    transition:0.2s ease-in-out;
}
.appiconsecondrow:hover {
    box-shadow: 0px 15px 25px #aaa; 
    transition:0.2s ease-in-out;
}
.appiconsecondrow:first-child {
    margin-left:0px !important;
}
#firstappicon {
    margin-left:0px !important;
}
#fourthappicon {
    margin-left:0px !important;
}
.footer {
    //height:800px;
    width:100%;
}
.inactiveappicon {
    background:#fafafa;
    box-shadow:none !important;
    opacity:0.6;
    pointer-events: none;
}

#initiconkreis {
    width:100px;
    height:100px;
    border-radius:33%;
    background:#05DED4;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
}
#dataiconkreis {
    width:100px;
    height:100px;
    border-radius:33%;
    background:#FFE779;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
}
#dataiconyoutube {
    width:100px;
    height:100px;
    border-radius:33%;
    background:transparent;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
}
.homeappicon {
    width:30px;
}
.youtubeappicon {
    width:100%;
}
h3 {
    font-size:20px;
    font-weight:500;
    margin:0;
}
#messengericonkreis {
    width:100px;
    height:100px;
    border-radius:33%;
    background:#EAF3FF;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
}




@keyframes footerleistepopin {
    0% {
    bottom:-100px;
    }
    100% {
       bottom:0px;
    }
    }



#verbundenleiste {
    width:100%;
    padding:6px;
    box-sizing: border-box;
    position:fixed;
    bottom:0;
    text-align:center;
    background:#0A9C95;
    color:white !important;
    padding-top:2px;
    display:block;
    animation-name: footerleistepopin;
    animation-duration: 0.3s;
}
#verbundenleiste p {
    color:white !important;
    font-size:12px;
    display:inline;
}
.verbundenimg {
    width:18px;
    position:relative;
    top:5px;
    margin-right:5px;
}



#nichtverbundenliste {
    width:100%;
    padding:6px;
    box-sizing: border-box;
    position:fixed;
    bottom:0;
    text-align:center;
    padding-top:2px;
    background: #FFE779 !important;
    display: none;
    animation-name: footerleistepopin;
    animation-duration: 0.3s;
}
#nichtverbundenliste p {
    color:black !important;
    font-size:12px;
    display:inline;
}

a h3 {
    color:black;
}
























/* LOADING SCREEN */

#modeltrainingscreen {
    width:100%;
    height:100%;
    position:fixed;
    background:rgba(0, 0, 0, 0.85);
    z-index:999999999999;
    text-align:center;
    transition:0.3s ease-in-out;
    display:none;
}
#modeltrainingscreen h2, #modeltrainingscreen p {
    color:white;
}


.lds-roller {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
  }
  .lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #fff;
    margin: -4px 0 0 -4px;
  }
  .lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
  }
  .lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
  }
  .lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
  }
  .lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
  }
  .lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
  }
  .lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
  }
  .lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
  }
  .lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
  }
  .lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
  }
  .lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
  }
  .lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
  }
  .lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
  }
  .lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
  }
  .lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
  }
  .lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
  }
  .lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
  }
  @keyframes lds-roller {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }




  .profileicon {
      width:34px;
      height:34px;
      border-radius:100%;
      background:#f0f0f0;
      float:right;
      text-align:center;
      margin-top:-2px;
  }
  .profileiconyoutube {
    width:34px;
    height:34px;
    border-radius:100%;
    background:#f0f0f0;
    float:right;
    text-align:center;
    margin-top:-4px;
  }
  .profileimg {
      width:20px;
      margin-top:-1px;

  }





#advtrainingscreen {
    width:100%;
    height:100%;
    display:none;
}

#advtimeleft {
    float:right;
    display:none;
}



#advancedtrainingnav {
    z-index:99999;
}

#advtextdesc {
    width:370px;
}





#progressarrowadv {
    position:fixed;
    bottom:20px;
    left:20px;
    width:60px;
    display:none;
    animation-name:zoom;
    animation-duration:0.2s;
}

#arrowtextadv {
    position:fixed;
    left:86px;
    bottom:67px;
  }


  #advtextintro {
      width:860px;
  }




#youtubehomenav {
    display:block;
}
.obenyoutube {
    height:90px;
}

.videopreview {
    height:550px;
    margin-top:60px;
    overflow:auto;
    white-space: nowrap;
    animation-name: youtubevideos;
    animation-duration: 25s;
    animation-iteration-count:infinite;
    overflow-y:hidden;
}

.singlevideo {
    width:600px;
    height:100%;
    position:relative;
    left:50%;
    transform: translateX(-50%);
    display: inline-block;
}
.singlevideotwo {
    width:600px;
    height:100%;
    display: inline-block;
    margin-left:calc(50% + 60px);
    transform: translateX(-50%);
}

.singlevideothree{
    width:600px;
    height:100%;
    margin-left:60px;
    transform: translateX(-50%);
    display: inline-block;
}


.video {
    width:100%;
    height:350px;
    margin-bottom:10px;
}

.videoout {
    width:100%;
    height:100%;
    position:relative;
    top:0px;
}


#youtubebody {
    overflow-x: hidden;
}

.videoout p {
    color:#727381;
}
.videoout p b {
    color:#fff;
    font-weight:lighter;
}




@keyframes youtubevideos {
    0% {
    margin-left:0px;
    }
    17% {
        margin-left:0px;
    }
    20% {
        margin-left:-1330px;
    }
    38% {
        margin-left:calc(-1330px);
    }
    40% {
        margin-left:calc(-1330px*2);
    }
    58% {
        margin-left:calc(-1330px*2);
    }
    60% {
        margin-left:calc(-1330px*3);
    }
    78% {
        margin-left:calc(-1330px*3);
    }
    80% {
        margin-left:calc(-1330px*4);
    }
    98% {
        margin-left:calc(-1330px*4);
    }
    100% {
        margin-left:0px;
    }
    }


    .youtubechannelicon {
        width:30px;
        height:30px;
        border-radius:100%;
        object-fit: cover;
        position:relative;
        top:7px;
    }

    .videoout h2 {
        display:inline;
        margin-left:10px;
        font-weight:lighter;
    }


    .trennstrichyoutube {
        width:100%;
        height:1px;
        background:#444;
        margin-top:20px;
        margin-bottom:10px;
    }

    .right {
        float:right;
    }

    .videoblur {
        height:550px;
        width:35%;
        position:fixed;
        z-index:9999999;
        top:230px;
        background: linear-gradient(to right, rgba(32,32,39,0), rgba(32,32,39,0.7), rgba(32,32,39,1));
        right:0;
    }
    .videoblurleft {
        height:550px;
        width:35%;
        position:fixed;
        z-index:9999999;
        top:230px;
        background: linear-gradient(to left, rgba(32,32,39,0), rgba(32,32,39,0.7), rgba(32,32,39,1));
        left:0;
    }


    iframe {
        border-radius:10px;
    }

    #youtubenav {
        //background:linear-gradient(to top, rgba(0,0,0,0), rgba(0,0,0,1));
        position:fixed;
        z-index: 999;
        background:transparent;
    }

    .videobackgrounds {
        overflow-x:auto;
        white-space: nowrap;
        width:100%;
        height:100%;
        box-sizing:border-box;
        overflow-y: hidden;
    }


    #vbone {
        animation-name:youtubevideosprogressionone;
        animation-duration:36s;
        animation-iteration-count: infinite;
    }

    @keyframes youtubevideosprogressionone {
        0% {
        margin-left:0;
        }
        31% {
            margin-left:0%;
        }
        33% {
            margin-left:-100%;
        }
        64% {
            margin-left:-100%;
        }
        66% {
            margin-left:-200%;
        }
        97% {
            margin-left:-200%;
        }
        100% {
            margin-left:0%;
        }

        }


    .videobackground {
        width:100%;
        height:100%;
        box-sizing:border-box;
        display:inline-block;
    }

    #vbone {
        background-image: url("img/catwallpaper.jpg");
        background-position: center;
        background-size:cover;
        padding-top:calc(50vh - 276px / 2);
        
    }
    #youtubecontentone  {
        vertical-align:middle;
        display:inline-block;
        height:276px;
        padding-left:calc(50% - (1024px / 2));
    }
    #vbtwo {
        vertical-align:middle;
        background-image: url("img/cattwo.jpg");
        background-position: center;
        background-size:cover;
        padding-top:calc(50vh - 356px / 2);

    }
    #youtubecontenttwo  {
        display:inline-block;
        height:356px;
        padding-left:calc(50% - (1024px / 2));
    }
    #vbthree {
        vertical-align:middle;
        background-image: url("img/dogbackground.jpg");
        background-position: center;
        background-size:cover;
        padding-top:calc(50vh - 276px / 2);

    }
    #youtubecontentthree  {
        display:inline-block;
        height:276px;
        padding-left:calc(50% - (1024px / 2));
    }

    .playbutton {
        padding:16px;
        padding-left:32px;
        padding-right:32px;
        border-radius:32px;
        background:#EE0C1C;
        box-shadow: 0px 5px 40px #AE0914;
        color:white;
        margin-top:15px;
        font-weight:normal;
    }

    .playbutton b {
        position: relative;
        top:1px;
    }


    .videopoints {
        position:fixed;
        bottom:30px;
        height:4px;
        width:280px;
        left:calc(50% - 140px);
    }

    .videopoint {
        width:80px;
        height:100%;
        background:#777;
        float:left;
        margin-right:20px;
        border-radius:2px;
        overflow:hidden;
    }
    .videopoint:nth-child(3) {
        margin-right:0;
    }
    #pointone {
        width:0%;
        height:100%;
        border-radius:2px;
        background:white;
        animation-name:pointone;
        animation-duration:36s;
        animation-iteration-count: infinite;
    }
    #pointtwo {
        width:0%;
        height:100%;
        border-radius:2px;
        background:white;
        animation-name:pointtwo;
        animation-duration:36s;
        animation-iteration-count: infinite;
    }
    #pointthree {
        width:0%;
        height:100%;
        border-radius:2px;
        background:white;
        animation-name:pointthree;
        animation-duration:36s;
        animation-iteration-count: infinite;
    }

    @keyframes pointone {
        0% {
        width:0%;
        margin-left:0;
        }
        31% {
        width:100%;
            margin-left:0;
        }
        33% {
            margin-left:80px;
        }
        100% {
            margin-left:80px;
        }

        }
        @keyframes pointtwo {
            0% {
            width:0%;
            margin-left:0;
            }
            33% {
                width:0%;
                margin-left:0;
                }
            64% {
            width:100%;
                margin-left:0;
            }
            66% {
                margin-left:80px;
            }
            100% {
                margin-left:80px;
            }
    
            }
            @keyframes pointthree {
                0% {
                width:0%;
                margin-left:0;
                }
                66% {
                    width:0%;
                    margin-left:0;
                    }
                97% {
                width:100%;
                    margin-left:0;
                }
                99% {
                    margin-left:80px;
                }
                100% {
                    margin-left:80px;
                }
        
                }



    .bottomblur {
        position:fixed;
        width:100%;
        height:180px;
        bottom:0px;
        background:linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,1))
    }

    .contentrightyoutube {
        width:calc(100% - 400px);
        float:right;
    }
    .contentleftyoutube {
        width:400px;
        height:220px;
        float:left;
        padding-right:45px;
        box-sizing:border-box;
    }


    .videoscreen {
        width:100%;
        height:100%;
        position:fixed;
        z-index:999999999999999;
        background:black;
        display:none;
    }

    .videobackground a {
        color:white;
        text-decoration: none;
    }
    .videobackground a:visited {
        color:white;
    }

    #videoendscreen {
        width:100%;
        height:100%;
        position:fixed;
        top:0;
        left:0;
        z-index:9999999999999999999999;
    }


    .homehello {
        width:100%;
        padding-top:32px;
        padding-bottom:32px;
        background:white;
        //box-shadow:0px 4px 4px #eee;
        border-bottom:1px solid #ddd;
    }

    .searchbar {
        width:100%;
        height:50px;
        border:1px solid #ddd;
        margin-top:10px;
        border-radius:5px;
        margin-bottom:16px;
        box-sizing: border-box;
        padding-left:50px;
        font-size:20px;
    }
    .searchicon {
        position:relative;
        top:23px;
        height:25px;
        margin-bottom:-57px;
        left:15px;
    }
    ::placeholder {
        font-weight:normal;
        font-size:20px;
        color:#aaa;
    }
    .searchbutton {
        float:right;
        position:relative;
        color:white;
        padding-top:15px;
        padding-bottom:15px;
        font-size:16px;
        background:#0A9C95;
        padding-left:20px;
        padding-right:20px;
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
        border-top-left-radius: 2px;
        border-bottom-left-radius: 2px;
        top:-82px;
        
    }


    .categorybox {
        padding:8px;
        border:1px solid #ddd;
        border-radius:4px;
        width:130px;
        margin-bottom:10px;
    }
    .categorybox p {
        color: black;
    }

    .sortbox {
        float:right;
        width:105px;
        position:relative;
        top:-50px;
    }
    .sortlink {
        font-size:12px;
        font-weight:500;
        color:#727381;
    }
    .sortlinkright {
        float:right;
    }
    .sortbox p {
        color:black;
    }


    #initendadv {
        width:100%;
    height:100%;
    position: fixed;
    top:0;
    left:0;
    background:#202026;
    animation-name:zoom;
    animation-duration:0.3s;
    text-align:center;
    z-index:9999999999999999999;
    display: none;
    }

    .loaderinitend {
        position: absolute;
        top: calc(50% - 144px);
        left: calc(50% - 32px);
        width: 64px;
        height: 64px;
        border-radius: 50%;
        perspective: 800px;
      }
      
      .inner {
        position: absolute;
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        border-radius: 50%;  
      }
      
      .inner.one {
        left: 0%;
        top: 0%;
        animation: rotate-one 1s linear infinite;
        border-bottom: 3px solid #EFEFFA;
      }
      
      .inner.two {
        right: 0%;
        top: 0%;
        animation: rotate-two 1s linear infinite;
        border-right: 3px solid #EFEFFA;
      }
      
      .inner.three {
        right: 0%;
        bottom: 0%;
        animation: rotate-three 1s linear infinite;
        border-top: 3px solid #EFEFFA;
      }
      
      @keyframes rotate-one {
        0% {
          transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
        }
        100% {
          transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
        }
      }
      
      @keyframes rotate-two {
        0% {
          transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
        }
        100% {
          transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
        }
      }
      
      @keyframes rotate-three {
        0% {
          transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
        }
        100% {
          transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
        }
      }




      .approwtwomargin {
          height:420px;
          width:100%;
      }

      #appsrowtwo {
          height:870px;
      }




      #blackjackbody {
          background:#202026;
      }


      .blackjacknav {
        width:100%;
        padding:16px;
        padding-left:20px;
        padding-right:20px;
        box-sizing:border-box;
        //background: #1A1C1E;
        position:fixed;
        z-index: 9999999;
    
    }

    .blackjacktitle {
        font-size:20px;
        color: white !important;
        font-weight: 300;
        text-decoration: none;
    }
    .blackjacktitle:visited {
        color:inherit;
    }

    .blackjacktable {
        width:100%;
        height:100%;
        position:fixed;
        top:0;
        text-align:center;
    }

    .blackjacktable h1 {
        font-weight:300;
    }

    .blackjackcard {
        height:360px;
        transform: rotate(10deg);
        box-shadow: 0px 10px 50px #000;
        border-radius:20px;
        margin-left:10px;
        margin-right:10px;
    }

    .trennstrichblackjack {
        width:50px;
        height:5px;
        background: white;
        margin-left:auto;
        margin-right:auto;
        margin-top:10px;
    }

    .backgroundloadingbarblackjack {
        width:540px;
        height:5px;
        border-radius:2.5px;
        background:#3D3C43;
        margin-left:auto;
        margin-right:auto;
        margin-top:32px;
    }

    .insideloadingbarblackjack {
        height:5px;
        border-radius:2.5px;
        background:#05DED4;
        animation-name: initinnerbarkreis;
        animation-duration: 10s;
        animation-iteration-count: infinite;
    }

    .blackjackstats {
        position:fixed;
        top:20px;
        right:20px;
        padding:20px;
        border-radius:14px;
        background:#1A1C1E;
    }
    .blackjackstats p {
        font-size:16px;
    }


    #blackjacklosescreen {
        width:100%;
        height:100%;
        position:fixed;
        display:none;
        background:#202026;
        text-align:center;
        z-index:9999999999999;
    }

    #endGameScreen {
        width:100%;
        height:100%;
        position:fixed;
        display:none;
        background:#202026;
        text-align:center;
        z-index:9999999999999;
    }